# --- FastAPI, Jinja2 y servidor ASGI ---
fastapi==0.105.0
uvicorn==0.23.2
jinja2==3.1.3
aiofiles==23.1.0  # Para servir archivos estáticos y plantillas de manera eficiente

# --- Stripe ---
stripe==10.6.0

# --- SSE y requests asíncronas ---
httpx==0.28.1
httpcore==1.0.5
requests==2.32.3
certifi==2024.7.4
idna==3.7

# --- Gunicorn ---
gunicorn==21.2.0

# --- Firebase y Google Cloud ---
firebase-admin==6.5.0
google-generativeai==0.7.1
google-cloud-firestore==2.16.0
google-auth==2.29.0
google-api-core==2.25.1
proto-plus==1.26.0
rsa==4.9

# --- Opcional: manejo de CORS ---
fastapi[all]==0.105.0
